name: Issue
on:
  issues:
    types:
      - opened

jobs:
  issue:
    runs-on: ubuntu-latest
    steps:
      - run: echo "nieuwe issue" ${{ github.event.issue.title }} ${{ github.event.issue.body }}
